*{
	margin: 0;
	padding: 0;
}
.content{
	position: absolute;
	overflow: hidden;
}
.page{
	position: relative;
}
.page1{
	background: cyan;
}
.page2{
	background: hotpink;
}
.page3{
	/*background: yellow;*/
}
.page4{
	background: yellowgreen;
}
.up{
	/*浮在页面上面*/
	position: absolute;
	/*高层及,不会被其他元素遮挡*/
	z-index: 99;
	width: 10%;
	height: 10%;
	bottom: 5%;
	left: 45%;
}
/*设置第一页的元素样式*/
.page1_build{
	/*1.给元素加绝对定位  2.按照百分比设置元素大小
	 3.设置元素出现位置（两个坐标值确定一个点）*/
	position: absolute;
	width: 100%;
	height: 25%;
	bottom: 0;
	left: 0;
	/*为了js中实现淡入效果，先隐藏*/
	display: none;
}
.flower1,.flower2{
	position: absolute;
	width: 15%;
	height: 15%;
	top: 10%;
}
.flower1{
	left: 10%;
	/*infinite:无限循环   linear：线性执行，更流畅*/
	animation: flow 3s infinite linear;
}
@keyframes flow{
	0%{}
	50%{transform: rotate(360deg) scale(1.5);}
	100%{transform: rotate(0deg) scale(1);}
}
.flower2{
	right: 10%;
	animation: flow 3s infinite linear;
}
.flight{
	position: absolute;
	width: 55%;
	height: 45%;
	top: -100%;
	left: -100%;
}
/*设置第二页的元素*/
.wasBg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.farm{
	position: absolute;
	width: 50%;
	height: 20%;
	top: 5%;
	left: 5%;
}
.it{
	position: absolute;
	width: 60%;
	height: 25%;
	bottom: 5%;
	right: 5%;
}
/*第三页的*/
.station{
	position: absolute;
	width: 100%;
	height: 100%;
}
.bus{
	position: absolute;
	width: 50%;
	height: 35%;
	left: 0;
	bottom: 0;
}
.avater{
	position: absolute;
	width: 20%;
	height: 20%;
	left: 60%;
	bottom: 10%;
}
.title{
	position: absolute;
	width: 15%;
	height: 10%;
	left: 0;
	top:8% ;
}
/*设置第三页第二个场景*/
.teamBg{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
.wall{
	position: absolute;
	width: 25%;
	height: 70%;
	bottom: 0;
	right: 0;
	display: none;
}
.teamAvater{
	position: absolute;
	width: 25%;
	height: 20%;
	top: 15%;
	right: 0;
	display: none;
}
.txt01{
	position: absolute;
	width: 25%;
	height: 20%;
	top: 5%;
	right: 30%;
	display: none;
}
/*第四页的效果*/
.lightBg,.onBg{
	position: absolute;
	width: 100%;
	height: 100%;
}
.onBg{
	display: none;
}
.light{
	position: absolute;
	width: 8%;
	height: 40%;
	bottom: 10%;
	left: 10%;
}
.music{
	position: absolute;
	z-index: 99;
	width: 20%;
	height: 20%;
	right: 10%;
	top: 10%;
}
